
/* 공통 */
main{
    font-family: 'SBAggroM';
    margin: 120px auto 10px; /* 헤더 높이만큼 여백 150추가*/
    overflow: hidden;  /* 내용이 부모를 넘어가지 않게함 */
}
.profileSection, .chatRoomSection{  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    margin: 25px auto;
    padding: 30px;
}
.profileSection li, .chatRoomSection li{
    list-style: none;
}


/* 마이페이지 */
.mypage{
    display: flex;
    justify-content: center;
    font-family: 'SBAggroB';
    font-size: 40px;
    margin-top: 120px;
    padding: 15px;
}
.mypage a{
    color: rgb(101, 49, 101);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


/* ---------- 프로필 Section ---------- */
.profileSection{
    font-family: 'SBAggroL';
}
.profile{
    height: 200px;
    display: flex;
    text-align: center;
}
.profile-ul{
    width: 65%;
    text-align: left;
    padding: 10px;
    font-family: 'SBAggroM';
    font-size: 20px;
}


.profile-ul li{
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
}


.profile-image-div{
    padding: 3px;
    margin: 10px;
    background-color: rgb(215, 215, 215);
    width: 150px;
    height: 150px;
    border-radius: 50%;   /* 테두리 동그랗게 */
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;   /* 테두리 동그랗게 */
}
.introduction{
    margin: 13px;
    white-space: pre-line; /* 자기소개에서 줄 바꿈 및 공백 그대로 표시 */
    letter-spacing: 1px; /* 글자 간격 조절 */
    line-height: 1.3;    /* 라인 높이 조절 */
}


/* ---------- 채팅방 Section ----------*/
.chatRoomSection{
    margin-bottom: 100px;
}

/* 참여중인 채팅방 */
.chatRoomCount{  
    display: flex;
    height: 70px;   
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 5px;
    
}

/* 참여중인 채팅방, 동행 수락 대기 정렬 */
.chatRoomSection-content{
    display: flex;
    justify-content: space-evenly;
}

/* 참여중인 채팅방 정렬 */
.chatRoomCount{  
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70px; 
    font-size: 25px;
}


/* 라디오버튼 숨김 */
.chatRoomCount [type="radio"] {
    display: none; 
}

/* 참여중인 채팅방, 동행 수락 버튼 클릭시 스타일 적용 */
.chatRoomCount input[type="radio"]:checked + .custom-radio {
    background-color: rgb(72, 99, 250);
    opacity: 0.9; 
    color : white;
}


/* 참여중인 채팅방, 동행 수락 버튼 스타일 */
/* .custom-radio { */
/*     width: 649px;  */
/*     height: 88px;  */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center; */
/*     background-color: #1E82FF; */
/*     color: black; */
/* } */

/* 참여중인 채팅방, 동행 수락 버튼 스타일 */
.custom-radio {
    width: 325px; 
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: center;
}




/* 채팅방수 */
.chat-room-count, .accompany-room-count{
    background-color: rgb(93, 6, 93);
    color: white;
    border-radius: 50%;
    width: 33px;
    height: 32px;
    margin-left: 10px;
    font-size: 70%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    margin-bottom: 3px;
}

/* 채팅방 목록 */
.chat-room{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px;
    margin-top: 25px;
    padding: 10px;
    height: 30px;
}
.chat-room:hover{       /* 채팅방 호버이벤트 */
    -webkit-transition: all .3s;
    background-color: rgb(231, 201, 231);
    font-family: 'SBAggroB';
    cursor: pointer;
}
.chat-room :first-child{
    width: 220px;
    border-right: 1px solid gray;
}

.chat-room :nth-child(2){
    width: 100%;
}

.chat-room :last-child{ 
    width: 100px;
}

.chatNew{
    border-radius: 15px;
    background-color: rgb(253, 253, 184);
    font-size: 15px;
    padding: 3px;
}


/* 동행 수락 대기 프로필 크게 설정 */
.profile-image-accompany{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 동행 수락 대기 스타일 */
.accompany{
	font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SBAggroL';
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    width : 610px;
    height: 70px;
    margin-left: 20px;
    margin-top : 20px;
}

.accompany-rooms{
    margin-top: 20px;
}


/* 동행 수락 대기 - 수락버튼 */
.acceptBtn{

    font-size: 15px;
    font-family: 'SBAggroL';
    width:50px;
    height:30px;
    background-color: white;
    border: 1px solid black;
}

/* 동행 수락 대기 - 취소버튼 */
.cancelBtn{
    width:50px;
    height:30px;
    font-size: 15px;
    font-family: 'SBAggroL';
    background-color: white;
    border: 1px solid black;
}

.acceptBtn:hover, .cancelBtn:hover{
    font-family: 'SBAggroB';
    cursor : pointer;
}

.accompany:hover{
	-webkit-transition: all .3s;
    background-color: rgb(231, 201, 231);
    font-family: 'SBAggroB';
    cursor: pointer;
}

.friend-content {
	white-space: nowrap;         /* 줄 바꿈 방지 */
    overflow: hidden;            /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;     /* 넘치는 부분을 ...으로 표시 */
    max-width: 250px;            /* 최대 너비 설정 (원하는 값으로 조절) */
    width:250px;
    display: inline-block;       /* 인라인 블록 요소로 표시 */
}