/* 폰트 */
@font-face {
font-family: 'SBAggroB';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SBAggroM';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SBAggroL';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/*COMMON*/
body {
  font-family: 'SBAggroB', 'SBAggroM','SBAggroL';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  width: 1920px;
  height : 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
a {
  text-decoration: none;
}


/*INNER*/
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}


/* LEFTSIDEBAR */
.left-sidebar{
  position: absolute;
  width: 270px;
  /* max-width 1050 + 150 */
  /* height: 1330px ; */
  height: 1700px;
  top: -350px;
  left: -360px;
  background-color: rgb(245, 240, 245);
  z-index: 2;
  box-sizing: border-box;
}


  /*BUTTON*/
  .btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
  }
  .btn:hover {
    background-color: #333;
    color: #FFF;
  }
  .btn.btn--reverse {
    background-color: #333;
    color: #FFF;
  }
  .btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
  }
  .btn.btn--white {
    color: #FFF;
    border-color: #FFF;
  }
  .btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
  }