main{
    height: 100%;
    min-height : 100%;
    padding-bottom : 50px;
    position : relative;
}

.container{
    margin-top: 5%;
    margin-left: 12.6%;
    background-color: white;
}

/* ---------- 타이틀 ---------- */

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    height: 100px;
}

/* 초기화 부분 */
.title_reset{
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	align-items: center;
	margin-top: -40px;
	margin-left: -30px;
	color: black;
	font-family: 'SBAggroM';
}

.title_reset span{
    position: relative;
    top: 5px;
    font-size: 17px;
}

/* 타이틀 - 여행지&축제 */
.title p{
    margin-top: 22px;
    margin-left : 10px;
    text-align: center;
    font-family: 'SBAggroB';
    font-size: 32px;
    color: #400080;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}


/* 검색버튼- 돋보기 */
#search-label {
    position: relative;
}
#search-label button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
}
#search-label img{
    width: 25px;
    height: 98%;
}

/* 검색 카테고리 */
.head-keyword{
    float: right;
    margin-right: 170px;
    margin-top : 40px;
}

.head-keyword select{
    margin: 5px auto;
    height: 35px;
    width: 100px;
    border-radius: 3px;
    font-family: 'SBAggroM';
    /* text-align: center; */
    border: 1px solid rgb(76, 76, 76, 0.6);
}

/* 검색란 */
#keyword{
    width: 220px;
    height: 28px;
    padding: 2px;
    padding-left: 10px;
    border-radius: 3px;
    font-family: 'SBAggroL';
}


/* 글작성 - 관리자용 */
.write_admin{
    display: none;
    height: 35px;
    font-family: 'SBAggroM';
    background-color: lightgray;
    color: rgb(41, 41, 41);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}
.write_admin:hover{
    background-color: rgb(83, 22, 83);
    color: white;
}


/* ---------- 본문 내용 ---------- */

/* 사진 div박스 */
.tf_item{
    margin: 3%;
    position: relative;
}

.thumb_box{
    width: 270px;
    height : 270px;
    min-height : 270px;
    min-width : 270px;
}

.tf_img img{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 270px;
    min-height : 250px;
    border-radius: 3%;
    border: 1px solid rgb(138, 138, 138, 0.5);
}

/* 이미지 hover 적용 */
.thumb_box img:hover{   
    -webkit-transition: all .5s;
    transform : scale(1.05);
}
/* 하트아이콘 */
.btn_wish,.btn_wish_red {
    position: absolute;
    right: 0;
    margin: 10px;
    margin-right: 3px;
    width: 25px;
}
.btn_wish:hover{
    width: 25px;
}

.btn_wish_red{
    display: none;
}

/* 글내용 제목 */
.thumb_box h1 {
  	font-family: 'SBAggroM';
    position: absolute;
    color: rgb(52, 52, 52);
    margin: 7px;
    margin-left: 3px;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width : 230px; 
}
.tf_home {
    width: 100%;
    max-height: 1050px; 
    /* overflow-y: auto; */ /* 세로 스크롤 활성화 */
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-bottom: 100px;
}

.tf_home > tf_item {
    flex-basis: 13.5%;
    box-sizing: border-box;
}

.tf_home .emptyList{
	display : flex;
	width : 80%;
	height : 500px;
	margin : 5px auto;
	margin-top : 30px;
	margin-left : 10px;
	justify-content: center;
	align-items: center;
	font-size : 30px;
	
}


/* ---------- 페이지바 ---------- */

.tf-paging-area{
	display:flex;
	justify-content: center;
}

.tf-paging-area button{
	font-family: 'SBAggroM';
	font-size: 20px;
	border: 0px;
	width : 50px;
	height : 50px;
	border-radius : 50%;
	text-align : center;
	margin : 5px;
}

.tf-paging-area button:hover{
	background-color : purple;
	color : white;
	cursor : pointer;
} 


/* ---------- 사이드바 카테고리 ---------- */

.left-sidebar{
	margin-top : 0px;
	padding-top : 0px;
}

.category{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    /* transform: scaleY(1.1); */
    top : -5px;
}
.category li{
    font-family: 'SBAggroM';
    font-size: 15px;
    color : rgb(104, 104, 104);
    margin-top: 9px;
}

.category input[type="checkbox"]{
    display:none;
}
.category input[type="checkbox"]+label{
    align-items: center;
    position : relative;
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
    padding : 5px;
    padding-left: 20px;
    /* line-height: 10px; */
}
.category input[type="checkbox"]:checked +label{
	color : #56128d;
    /* color: #8002c4; */
    font-family: 'SBAggroM';
    font-weight: 500;
     -webkit-transition: all 0.3s;
}

.category input[type="checkbox"]:checked +label::after{
    content : '♥';
    font-size : 14px;
    width: 15px;
    height: 15px;
    text-align: center;
    align-items: center;
    position: absolute;
    left : 0; 
    top: 1;
    /* color: #8002c4; */
    color : #56128d;
}

.category ul,li{
    padding: 5px;
}
.category li label:hover{
    color: #8002c4;
    font-family: 'SBAggroM';
    -webkit-transition: all 0.3s;
}

/* 카테고리 제목 */
.categoryTitle{
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
    margin-left: 10px;
    /* color : black; */
}

/* 라이브채팅 */
.live-chat{
	margin: 5px auto;
    width: 85%;
    height: 230px;
    background-color: white;
    color: rgb(34, 32, 32);
    padding: 10px;
    font-family: 'SBAggroL';
    font-size: 14px;
    flex-direction: column;
}

.live-chat div{
	max-width : 95%;
    border-bottom: 0;
    border-radius  : 5px;
}

.live-chatting{
	border-radius : 5px;
	padding : 10px;
	max-width : 95%;
}

/* 상세필터 */
.filter{
    margin: 5px;
}

/* 상세필터 메뉴버튼 */
#filter span{
    font-size: 15px;
    float: right;
    margin-right: 10px;
}


/* 카테고리 제목 */
.categorylist{
    font-family: 'SBAggroM';
    margin-top: 23px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(56, 39, 63, 0.5);
    color : purple;
}
.categorylist span{
    float: right;
    margin-right: 5px;
    color : black;
}


/* 지역 카테고리 */
.region{
    display:flex;
}
.regiondiv{
    flex-direction: column;
    width: 45%;
}

/* 계절 카테고리 */
.season{
    display: flex;
}
.seasondiv{
    flex-direction: column;
    width: 45%;
}

/* 테마 카테고리 */
.theme{
    display: flex;
}
.themediv{
    flex-direction: column;
    width: 45%;
}


/* ---사이드바 이벤트 --- */

/* 화살표 돌아가는 이벤트 */
.rotate180{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out; /* 회전 애니메이션을 부드럽게 만들기 위해 트랜지션 추가 */
}
.rotate0{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out; /* 회전 애니메이션을 부드럽게 만들기 위해 트랜지션 추가 */
}



/* ---------- 스크롤 버튼  ----------*/
.scrollButton{
    height: 40px;
    width: 43px;
    position: fixed;
    background-color: rgb(138, 101, 138);
    border: 1px solid rgba(205, 174, 205, 0.5);
    border-radius: 50%;
    color: white;
    text-align: center;
    z-index: 10;
}
.upButton{
    bottom: 40px;
    right: 40px;
}
.scrollButton:hover{
    cursor: pointer;
}
